rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // USERS COLLECTION - Allow read, write, update for user profiles and roles
    match /users/{userId} {
      allow read, write, create, update, delete: if true;
    }

    // ITEMS COLLECTION - Allow create, read, update, delete for Lost & Found items
    match /items/{itemId} {
      allow read, write, create, update, delete: if true;
    }

    // NOTIFICATIONS COLLECTION
    match /notifications/{notifId} {
      allow read, write, create, update, delete: if true;
    }

    // MATCHES COLLECTION
    match /matches/{matchId} {
      allow read, write, create, update, delete: if true;
    }

    // ADMIN STATS COLLECTION
    match /admin_stats/{document} {
      allow read, write, create, update, delete: if true;
    }
  }
}
